/* ------------------- *\
   LAYOUT - FLEX
\* ------------------- */

.flex {
    display: flex;
}

@mixin flex {
    display: flex;
}

.flex-full {
    flex: 1;
}

.flex-col {
    @include flex;
    flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

$s: flex-start;
$e: flex-end;
$c: center;
$sa: space-around;
$sb: space-between;
$flex-list: (
	(f-s, $s, $s),
	(f-s-c, $s, $c),
	(f-b-c, $sb, $c),
	(f-b-s, $sb, $s),
	(f-a-c, $sa, $c),
	(f-c, $c, $c),
	(f-e-c, $e, $c),
	(f-a-c, $sa, $c),
	(f-c-s, $c, $s),
	(f-s, $s, $s)
);

@each $n, $j, $a in $flex-list {
    .#{$n} {
        @include flex;
        justify-content: $j;
        align-items: $a;
    }
}



/* ------------------- *\
   LAYOUT - SPACE
\* ------------------- */

$space-list: (
	(p, padding),
	(pt, padding-top),
	(pr, padding-right),
	(pb, padding-bottom),
	(pl, padding-left),
	(m, margin),
	(mt, margin-top),
	(mr, margin-right),
	(mb, margin-bottom),
	(ml, margin-left),
	(ph, padding-top, padding-bottom),
	(pv, padding-right, padding-left),
	(mh, margin-top, margin-bottom),
	(mv, margin-right, margin-left)
);

@each $n in 5, 10, 15, 20 {
    @each $k, $v1, $v2 in $space-list {
        @if $v2 {
            .#{$k}-#{$n} {
                #{$v1}: 2rpx * $n;
                #{$v2}: 2rpx * $n;
            }
        } @else {
            .#{$k}-#{$n} {
                #{$v1}: 2rpx * $n;
            }
        }
    }
}
