$themeColor: #dd131a;

$inputPlaceholderColor: #8c8c8c;

$fontColorLight: #757575;
$fontColorRed: #FE0101;

$backgroundColorPage: #ebebeb;
$backgroundColorLight: #D1D1D1;

$fontSizeLarge: 16px;
$fontSize: 14px;
$fontSizeSmall: 12px; 

$borderColorLight: #D5D5D5;

$borderRadius: 8rpx;

$buttonColorRed: #FC1631;
$buttonColorRedHover: #dd131a;
