@import './_variable.scss';

.content {
	padding-bottom: 40rpx;
	font-size: $fontSize;
	line-height: 1.2;
}



/* ------------------- *\
   UNI-APP RESET
\* ------------------- */

.uni-input-placeholder {
	color: $inputPlaceholderColor;
}

.uni-tabbar .uni-tabbar__icon {
	width: 48rpx !important;
	height: 48rpx !important;
}

.uni-tabbar .uni-tabbar__badge {
	opacity: .85;
	transform: scale(.75);
}
