/*
 * 主题色
 * theme 红色
 * secondary 绿色
 * */ 
$themeColor: #dd131a;
$secondaryColor: #52D1A0;

/* 输入框placeholder文本颜色 */
$inputPlaceholderColor: #8c8c8c;

/* 字体颜色 */
$fontColorLight: #757575;
$fontColorDark: #030303;
$fontColorRed: #FE0101;

/* 背景色 */
$backgroundColorPage: #ebebeb;
$backgroundColorLight: #D1D1D1;

/* 字体大小 */
$fontSizeLarge: 32rpx;
$fontSize: 28rpx;
$fontSizeSmall: 24rpx; 
$fontSizeMini: 20rpx;

/* 边框颜色 */
$borderColorLight: #D5D5D5;

/* 边框弧度 */
$borderRadius: 8rpx;

/* 按钮颜色 */
$buttonColorRed: #FC1631;
$buttonColorRedHover: #dd131a;
$buttonColorRedLighter: #F6C3B7;
$buttonColorGreen: #52D1A0;
$buttonColorGreenHover: #40ad83;
